
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myArtistLabel" data-translate="dubionApp.artist.home.createOrEditLabel">Create or edit a Artist</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.artist.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.artist.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.artist.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.artist.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.artist.bio" for="field_bio">Bio</label>
            <input type="text" class="form-control" name="bio" id="field_bio"
                    ng-model="vm.artist.bio"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.artist.photo" for="field_photo">Photo</label>
            <input type="text" class="form-control" name="photo" id="field_photo"
                    ng-model="vm.artist.photo"
                    />
        </div>

        <div class="form-group">
            <label data-translate="dubionApp.artist.band" for="field_band">Band</label>
            <select class="form-control" id="field_band" multiple name="band" ng-model="vm.artist.bands" ng-options="band as band.name for band in vm.bands track by band.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="dubionApp.artist.instrument" for="field_instrument">Instrument</label>
            <select class="form-control" id="field_instrument" multiple name="instrument" ng-model="vm.artist.instruments" ng-options="instrument as instrument.name for instrument in vm.instruments track by instrument.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
