<div>
    <h2 data-translate="dubionApp.artist.home.title">Artists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="artist.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="dubionApp.artist.home.createLabel">
                        Create new Artist
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="dubionApp.artist.name">Name</span></th>
                    <th><span data-translate="dubionApp.artist.bio">Bio</span></th>
                    <th><span data-translate="dubionApp.artist.photo">Photo</span></th>
                    <th><span data-translate="dubionApp.artist.band">Band</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="artist in vm.artists track by artist.id">
                    <td><a ui-sref="artist-detail({id:artist.id})">{{artist.id}}</a></td>
                    <td>{{artist.name}}</td>
                    <td>{{artist.bio}}</td>
                    <td>{{artist.photo}}</td>
                    <td>
                        <span ng-repeat="band in artist.bands">
                            <a class="form-control-static" ui-sref="band-detail({id: band.id})">{{band.name}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="artist-detail({id:artist.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="artist.edit({id:artist.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="artist.delete({id:artist.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
