
<div>
    <h2><span data-translate="dubionApp.artist.detail.title">Artist</span> {{vm.artist.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="dubionApp.artist.name">Name</span></dt>
        <label for="input-1" class="control-label">Rate This</label>
        <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="1" data-show-clear="false" data-show-caption="false">

        <i ng-click="vm.likeDislike()" class="fa fa-thumbs-{{vm.likeUpDown}}"></i>
        <dd>
            <span>{{vm.artist.name}}</span>
        </dd>
        <dt><span data-translate="dubionApp.artist.bio">Bio</span></dt>
        <dd>
            <span>{{vm.artist.bio}}</span>
        </dd>
        <dt><span data-translate="dubionApp.artist.photo">Photo</span></dt>
        <dd>
            <span>{{vm.artist.photo}}</span>
        </dd>
        <dt><span data-translate="dubionApp.artist.band">Band</span></dt>
        <dd>
            <span ng-repeat="band in vm.artist.bands">
                <a ui-sref="band-detail({id: band.id})">{{band.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="artist-detail.edit({id:vm.artist.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
