
<div>
    <h2><span data-translate="dubionApp.testSex.testSex.title">testSex</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="table-responsive">
        <!--<table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sex in vm.sexes track by sex.id">
                <td><a ui-sref="sex-detail({id:sex.id})">{{sex.id}}</a></td>
                <td>{{sex.orientation}}</td>
            </tr>
            </tbody>
        </table>
        test1
        <div class="form-group">
            <label>Sexo test</label>                                                  &lt;!&ndash;band as band.name for band in vm.bands track by band.id&ndash;&gt;
            <select class="form-control" id="test1" name="sex" ng-model="vm.sexes" ng-options="sex as sex.orientation for sex in vm.sexes track by sex.id">
                <option value=""></option>
            </select>
        </div>-->
        test2
        <div class="form-group">
        <label>Sexo test</label>                                                  <!--band as band.name for band in vm.bands track by band.id-->
        <select class="form-control" id="test2" name="sex" ng-model="vm.sexes" ng-options="sex as sex.orientation for sex in vm.sexes track by sex.id">
            <div ng-repeat="sex in vm.sexes track by sex.id">
                <option value="{{sex.orientation}}">{{sex.orientation}}</option>
            </div>
        </select>
    </div>
    </div>
</div>
