<div class="row">
    <div class="col-xs-10" style="text-align: left; background-color: #b6b6b6; margin: 3%">
        <!--old search bar -UNUSED- -->
        <!--<div class="topnav">-->
            <!--<div class="search-container">-->
                <!--<form>-->
                    <!--<input type="text" ng-model="vm.name" placeholder="search..." name="search">-->
                    <!--<button type="submit" ng-click="vm.byName()"><i class="fa fa-search"></i></button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
        <table class="jh-table table table-striped">
            <br/>
            <tbody>
                <tr ng-if="vm.albums.length === 0">
                    <td>No se encontraron resultados.</td>
                </tr>
                <tr ng-if="vm.albums.length > 0" ng-repeat="album in vm.albums track by album.id">
                    <td><a href="#/albumPage/{{album.id}}">{{album.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2 class="left white">Novedades</h2>
        <slick settings="vm.slickConfig" ng-if="vm.albumsLoaded">
            <div class="slick-item scrollmenu" ng-repeat="img in vm.salbums track by img.id">
                <a style="position: relative" href="#/albumPage/{{img.id}}">
                    <img src="{{img.photo}}" alt="Album" style="width:200px"/>
                    <div class="new">{{img.band.name}}</br>{{img.name}}</div>
                </a>
            </div>
        </slick>
        <br/>
    </div>
</div>
