<div class="row">
    <div class="col-md-12 marginAlbum" style="background-color: #b6b6b6">
        <div class="col-md-4 imageAlbum" align="center" style="text-align: center">
            <img class="imageAlbumSpecific" src="{{vm.bandActual.photo}}" alt="Album" style="width:300px"/>
            <br/>
            <div class="favZoneAlbum">
                Add to your FavList
                <i ng-click="vm.likeDislike()" class="fa{{vm.likeUpDown}} fa-heart"></i>
            </div>
        </div>
        <div class="col-md-8" align="center" style="list-style: none">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="titleArtistAlbum">{{vm.bandActual.name}}</h2>
                </div>
                <div class="col-sm-4">
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="1" data-show-clear="false" data-show-caption="false">
                </div>
                <div class="col-md-12 trackListAlbum">
                    <p>{{vm.bandActual.bio}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2 class="left white">Albumes de {{vm.bandActual.name}}</h2>
        <slick settings="vm.slickConfig" ng-if="vm.albumsLoaded">
            <div class="slick-item scrollmenu" ng-repeat="img in vm.salbums track by img.id">
                <a style="position: relative" href="#/albumPage/{{img.id}}"><img src="{{img.photo}}" alt="Album" style="width:200px"/><div class="new">{{img.band.name}}</br>{{img.name}}</div></a>
            </div>
        </slick>
        <br/>
        <h2 class="left white">Otros Artistas</h2>
        <slick settings="vm.slickConfig" ng-if="vm.bandsLoaded">
            <div class="slick-item scrollmenu" ng-repeat="img in vm.sbands track by img.id">
                <a style="position: relative" href="#/bandPage/{{img.id}}"><img src="{{img.photo}}" alt="Band" style="width:200px"/><div class="new"></br>{{img.name}}</div></a>
                <!--src="data:image/jpg;base64, {{img.photo}}"-->
            </div>
        </slick>
        <br/>
    </div>
</div>
