
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLabelLabel" data-translate="dubionApp.label.home.createOrEditLabel">Create or edit a Label</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.label.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.label.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.label.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.label.name"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPhoto($file, vm.label)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="dubionApp.label.photo" for="field_photo">Photo</label>
            <div>
                <img data-ng-src="{{'data:' + vm.label.photoContentType + ';base64,' + vm.label.photo}}" style="max-height: 100px;" ng-if="vm.label.photo" alt="label image"/>
                <div ng-if="vm.label.photo" class="help-block clearfix">
                    <span class="pull-left">{{vm.label.photoContentType}}, {{vm.byteSize(vm.label.photo)}}</span>
                    <button type="button" ng-click="vm.label.photo=null;vm.label.photoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPhoto($file, vm.label)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                    ng-model="vm.label.photo"
                    />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                    ng-model="vm.label.photoContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.label.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.label.description"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
