<div>
    <h2 data-translate="dubionApp.song.home.title">Songs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="song.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="dubionApp.song.home.createLabel">
                        Create new Song
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="dubionApp.song.name">Name</span></th>
                    <th><span data-translate="dubionApp.song.duration">Duration</span></th>
                    <th><span data-translate="dubionApp.song.album">Album</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="song in vm.songs track by song.id">
                    <td><a ui-sref="song-detail({id:song.id})">{{song.id}}</a></td>
                    <td>{{song.name}}</td>
                    <td>{{song.duration}}</td>
                    <td>
                        <span ng-repeat="album in song.albums">
                            <a class="form-control-static" ui-sref="album-detail({id: album.id})">{{album.name}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="song-detail({id:song.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="song.edit({id:song.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="song.delete({id:song.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
