<div role="navigation" class="lefto" ng-switch="vm.isAuthenticated()" id="mySidenav" class="sidenav">

    <div class="item" ui-sref="home">
        <span><img class="glyphlogo" src="app/layouts/navbar/dubion-glyphicon.png" alt=""/></span>
        Dubion
    </div>
    <div>
        <span class="glyphicon glyphicon-home"></span>
        <a ui-sref="home">Home</a>
    </div>

    <div ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu" ng-click="dropOne = !dropOne">
            <span class="glyphicon glyphicon-user"></span>
            Account
        </a>

        <div ng-show="dropOne" class="secundaryNav">
            <div ui-sref-active="active" ng-switch-when="true" class="sectionNavbarHover">
                <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                    <span data-translate="global.menu.account.settings">Settings</span>
                </a>
            </div>
            <div ui-sref-active="active" ng-switch-when="true" class="sectionNavbarHover">
                <a ui-sref="password" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-lock"></span>&nbsp;
                    <span data-translate="global.menu.account.password">Password</span>
                </a>
            </div>
            <div ui-sref-active="active" ng-switch-when="true" class="sectionNavbarHover">
                <a href="" ng-click="vm.logout()" id="logout">
                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                    <span data-translate="global.menu.account.logout">Sign out</span>
                </a>
            </div>
            <div ui-sref-active="active" ng-switch-when="false" class="sectionNavbarHover">
                <a href="" ng-click="vm.login()" id="login">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                    <span data-translate="global.menu.account.login">Sign in</span>
                </a>
            </div>
            <div ui-sref-active="active" ng-switch-when="false" class="sectionNavbarHover">
                <a ui-sref="register" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                    <span data-translate="global.menu.account.register">Register</span>
                </a>
            </div>
        </div>
    </div>
    <div ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown
         class="dropdown pointer">

        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu" ng-click="dropTwo = !dropTwo">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
        </a>
        <div ng-show="dropTwo" class="secundaryNav">
            <div class="dropdown pointer">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu" ng-click="dropThree = !dropThree">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                </a>
                <div ng-show="dropThree" class="secundaryNav">
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="band" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.band">Band</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="artist" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.artist">Artist</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="album" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.album">Album</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="song" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.song">Song</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="review" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.review">Review</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="label" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.label">Label</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="country" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.country">Country</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="genre" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.genre">Genre</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="sex" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.sex">Sex</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="social" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.social">Social</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="instrument" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.instrument">Instrument</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="rating-artist" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.ratingArtist">Rating Artist</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="rating-album" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.ratingAlbum">Rating Album</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="rating-song" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.ratingSong">Rating Song</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="rating-band" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.ratingBand">Rating Band</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="favourite-band" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.favouriteBand">Favourite Band</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="favourite-album" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.favouriteAlbum">Favourite Album</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="favourite-song" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.favouriteSong">Favourite Song</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="user-ext" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.userExt">User Ext</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="band-prueba" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.bandPrueba">Band Prueba</span>
                        </a>
                    </div>
                    <div ui-sref-active="active" class="sectionNavbarHover">
                        <a ui-sref="favoband" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.favoband">Favoband</span>
                        </a>
                    </div>
                    <div class="sectionNavbarHover">
                        <a ui-sref="user-ext" ng-click="vm.collapseNavbar()" >
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.userExt">User Ext</span>
                        </a>
                    </div>
                </div>

                <li ui-sref-active="active">
                                <a ui-sref="artist" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.artist">Artist</span>
                                </a>
                            </li>
                <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </div>
            <div ui-sref-active="active" class="sectionNavbarHover">
                <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    <span data-translate="global.menu.admin.userManagement">User management</span>
                </a>
            </div>
            <div ui-sref-active="active" class="sectionNavbarHover">
                <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                    <span data-translate="global.menu.admin.metrics">Metrics</span>
                </a>
            </div>
            <div ui-sref-active="active" class="sectionNavbarHover">
                <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-heart"></span>&nbsp;
                    <span data-translate="global.menu.admin.health">Health</span>
                </a>
            </div>
            <div ui-sref-active="active" class="sectionNavbarHover">
                <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                    <span data-translate="global.menu.admin.configuration">Configuration</span>
                </a>
            </div>
            <div ui-sref-active="active" class="sectionNavbarHover">
                <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-bell"></span>&nbsp;
                    <span data-translate="global.menu.admin.audits">Audits</span>
                </a>
            </div>
            <div ui-sref-active="active" class="sectionNavbarHover">
                <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                    <span data-translate="global.menu.admin.logs">Logs</span>
                </a>
            </div>
            <div ng-show="vm.swaggerEnabled" ui-sref-active="active" class="sectionNavbarHover">
                <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-book"></span>&nbsp;
                    <span data-translate="global.menu.admin.apidocs">API</span>
                </a>
            </div>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </div>
    </div>


    <div class="separator"></div>


    <div>
        <a ui-sref="artistPage">
            <span class="glyphicon glyphicon-user"></span>&nbsp;
            <span >Artista</span>
        </a>
    </div>
    <div>
        <a ui-sref="albumPage">
            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
            <span >Album</span>
        </a>
    </div>
    <div>
        <a ui-sref="songPage">
            <span class="glyphicon glyphicon-cd"></span>&nbsp;
            <span >Canciones</span>
        </a>
    </div>
    <div>
        <a ui-sref="bandPage">
            <span class="glyphicon glyphicon-king"></span>&nbsp;
            <span >Banda</span>
        </a>
    </div>
    <div>
        <a ui-sref="userPage">
            <span class="glyphicon glyphicon-user"></span>&nbsp;
            <span >User Test</span>
        </a>
    </div>

</div>
</div>
