/*#BackgroundImage{*/
    /*z-index: -4;*/
    /*position: relative;*/
    /*background-image: url("/content/images/parallax/Lay1Base.png");*/
    /*!*!* Set a specific height *!*!*/
    /*!*height: 500px;*!*/
    /*!*!* Create the parallax scrolling effect *!*!*/
    /*!*background-attachment: fixed;*!*/
    /*!*background-position: center;*!*/
    /*!*background-repeat: no-repeat;*!*/
    /*!*background-size: cover;*!*/
/*}*/
.container{
    z-index: auto;
    position: relative;
}
.containerDetail{
    display: table;
}
.well{
    position: relative;
}
.parallaax{
    z-index: -4;
    position: absolute;
    /*padding: 0;*/
    /*margin: 0;*/
    width: 100%;
}
#BackgroundTopGrey{
    background-color: #000000;
    height: 500px;
    width: 100%;
}
#BackgroundFootGrey{
    position: relative;
    background-color: #000000;
    bottom: 0;
    height: 500px;
    width: 100%;
}
.mainSearch{
    margin-top: 420px;
    height: 20px;
    z-index: 1;
    position: relative;
}
.degrdaded {
    height: 10px;
    margin-top: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,b6b6b6+100&0+0,1+98 */
    background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(181, 182, 183, 1) 98%, rgba(182, 182, 182, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(181, 182, 183, 1) 98%, rgba(182, 182, 182, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(181, 182, 183, 1) 98%, rgba(182, 182, 182, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#b6b6b6', GradientType=0); /* IE6-9 */
}
#imgBanner1{
    width: 100%;
    height: 100%;
}
/*-------Start Amazing ScrollBar----------*/
body{
    scrollbar-base-color: #0A0A0A;
    scrollbar-base-color: #0A0A0A;
    scrollbar-3dlight-color: #0A0A0A;
    scrollbar-highlight-color: #0A0A0A;
    scrollbar-track-color: #0A0A0A;
    scrollbar-arrow-color: #1682FB;
    scrollbar-shadow-color: #1682FB;
    scrollbar-dark-shadow-color: #0A0A0A;
}
/*mozilla scrolbalken*/
@-moz-document url-prefix(http://),url-prefix(https://) {
    scrollbar {
        -moz-appearance: none !important;
        background: rgb(0,255,0) !important;
    }
    thumb,scrollbarbutton {
        -moz-appearance: none !important;
        background-color: rgb(0,0,255) !important;
    }

    thumb:hover,scrollbarbutton:hover {
        -moz-appearance: none !important;
        background-color: rgb(255,0,0) !important;
    }

    scrollbarbutton {
        display: none !important;
    }

    scrollbar[orient="vertical"] {
        min-width: 15px !important;
    }
}
/**/
.scrollbar-container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 20px;

    border: 4px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
    background-color: #0A0A0A;
}
.scrollbar-container .inner {
    height: 2011px;
    width: 1985px;
    padding: 1em;
    background-color: #0A0A0A;
    font-family: sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
    background: #0A0A0A;
}
::-webkit-scrollbar-thumb { /*1682fb*/
    background-color: #1682fb /*rgba(16, 82, fb, 0.2)*/;
    border: solid #0A0A0A 1px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #1682fb /*rgba(0, 0, 0, 0.3)*/;
}



/*-------Stop Amazing ScrollBar----------*/
/*!* ---------------------------------------------------------------------------*!*/
/*!* The side navigation menu *!*/
/*.sidenav {*/
/*height: 100%; !* 100% Full-height *!*/
/*width: 0; !* 0 width - change this with JavaScript *!*/
/*position: fixed; !* Stay in place *!*/
/*z-index: 1; !* Stay on top *!*/
/*top: 0; !* Stay at the top *!*/
/*left: 0;*/
/*background-color: #111; !* Black*!*/
/*overflow-x: hidden; !* Disable horizontal scroll *!*/
/*padding-top: 60px; !* Place content 60px from the top *!*/
/*transition: 0.75s; !* 0.5 second transition effect to slide in the sidenav *!*/
/*}*/

/*!* The navigation menu links *!*/
/*.sidenav a {*/
/*padding: 8px 8px 8px 32px;*/
/*text-decoration: none;*/
/*font-size: 20px;*/
/*color: #818181;*/
/*display: block;*/
/*transition: 0.3s;*/
/*}*/

/*!* When you mouse over the navigation links, change their color *!*/
/*.sidenav a:hover {*/
/*color: #f1f1f1;*/
/*}*/

/*!* Style page content - use this if you want to push the page content to the right when you open the side navigation *!*/
/*#main {*/
/*transition: margin-left .5s;*/
/*padding: 20px;*/
/*}*/

/*!* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
/*.sidenav {padding-top: 15px;}*/
/*.sidenav a {font-size: 18px;}*/
/*}*/

/*li {*/
/*list-style-type: none;*/
/*}*/


td, th {
    vertical-align: middle !important;
}

.lefto {
    overflow-x: hidden;
    overflow-y: scroll;
    float:left;
    height:100%;
    position: fixed;
    background: #272727;
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
    z-index: 10;
    overflow-y: auto;

}

.lefto:hover {
    width: 250px;
}

.item:hover {
    cursor:pointer;
    background-color:#ccc;
}

.lefto .glyphicon {
    margin:15px;
    width:20px;
    color:#fff;
}
.lefto .glyphlogo{
    margin:5px;
    width:39px;
    color:#fff;
}

.righto .glyphicon {
    color:#a9a9a9;
}
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
}

.item {
    height:50px;
    overflow:hidden;
    color:#fff;
}
.title {
    background-color:#eee;
    border-style:solid;
    border-color:#ccc;
    border-width:1px;
    box-sizing: border-box;
}

.secundaryNav{
    background-color: #4d4d4c;
    transition: height 1s ;
}

.sectionNavbarHover:hover{
    background-color: rgba(205,205,205,0.93);
}

.separator{
    background-color: #0A0A0A;
    height: 10px;
    transition: height 1s ;
}

.fa-heart {
    font-size: 20px !important;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    color: darkblue;
}

#audio{
    background-color: black;
    width: 60%;
    height: auto;
}
.center{
    text-align: center;
}
div.scrollmenu {
    position: relative;
    background-color: #b6b6b6;
    overflow: hidden;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover .new{
    background-color: rgba(140,130,130,0.5);
    color:white;
}
.info{
    background-color: #0A0A0A;
}
.new {
    background-color: transparent;
    width:200px;
    height: 60px;
    color:transparent;
    z-index: 3;
    bottom: 14px;
    left: 14px;
    position: absolute;

}
.new2{
    background-color: rgba(140,130,130,0.5);
    width:200px;
    height: 50px;
    color:white;
    z-index: 3;
    bottom: 14px;
    left: 14px;
    position: absolute;
}
.pictr{
    position:absolute;
    left: 2%;
    top: 50%;
    width: 30px !important;
    height: 30px !important;
    z-index: 5;
}
.pictl{
    position:absolute;
    right: 2%;
    bottom: 40%;
    width: 30px !important;
    height: 30px !important;
    z-index: 5;
}


/*======================================*/
.paddingZero{
    padding: 0px;
    padding-left: 2px;

}

.widthMax{
    width: 100%;
}

.widthThird{
    width: 32%;
}

/*======================================*/

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #2196F3;
    color: white;
}
.topnav .search-container {
    text-align: center;

}
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.topnav .search-container button {
    text-align: center;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.topnav .search-container button:hover {
    background: #ccc;
}
@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}
div.scrollmenu {
    position: relative;
    background-color: #b6b6b6;
    overflow: hidden;
    white-space: nowrap;
}
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
div.scrollmenu a:hover .new {
    background-color: rgba(140, 130, 130, 0.5);
    color: white;
}
.new {
    background-color: transparent;
    width: 200px;
    height: 60px;
    color: transparent;
    z-index: 3;
    bottom: 14px;
    left: 14px;
    position: absolute;
}
/*========================================*/
.audioPlayer{
    padding-bottom: 10px;
    padding-top: 10px;
}
/*========================================*/
.marginAlbum{
    margin-top: 3%;
}
.trackListAlbum{
    text-align: left;
}
.titleArtistAlbum{
    display: initial;
}
.songLinkAlbum{
    color: #333333;
}
.favZoneAlbum{
    width: 300px;
    height: 30px;
    background-color: #777777;
    margin: auto;
    padding-top: 4px;
}
.imageAlbum{
    text-align: center;
    display:  inline-table;
}

.white{
    color: #ece6f2;
}
