.well{
    background-color: rgba(192,192,192,0.93);
    position: relative;
}
#imgBanner1{
    width: 100%;
    height: 100%;
}

/*!* ---------------------------------------------------------------------------*!*/
/*!* The side navigation menu *!*/
/*.sidenav {*/
/*height: 100%; !* 100% Full-height *!*/
/*width: 0; !* 0 width - change this with JavaScript *!*/
/*position: fixed; !* Stay in place *!*/
/*z-index: 1; !* Stay on top *!*/
/*top: 0; !* Stay at the top *!*/
/*left: 0;*/
/*background-color: #111; !* Black*!*/
/*overflow-x: hidden; !* Disable horizontal scroll *!*/
/*padding-top: 60px; !* Place content 60px from the top *!*/
/*transition: 0.75s; !* 0.5 second transition effect to slide in the sidenav *!*/
/*}*/

/*!* The navigation menu links *!*/
/*.sidenav a {*/
/*padding: 8px 8px 8px 32px;*/
/*text-decoration: none;*/
/*font-size: 20px;*/
/*color: #818181;*/
/*display: block;*/
/*transition: 0.3s;*/
/*}*/

/*!* When you mouse over the navigation links, change their color *!*/
/*.sidenav a:hover {*/
/*color: #f1f1f1;*/
/*}*/

/*!* Style page content - use this if you want to push the page content to the right when you open the side navigation *!*/
/*#main {*/
/*transition: margin-left .5s;*/
/*padding: 20px;*/
/*}*/

/*!* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
/*.sidenav {padding-top: 15px;}*/
/*.sidenav a {font-size: 18px;}*/
/*}*/

/*li {*/
/*list-style-type: none;*/
/*}*/


td, th {
    vertical-align: middle !important;
}

.lefto {
    float:left;
    height:100%;
    position: fixed;
    background: #272727;
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
    z-index: 10;
    overflow-y: auto;
}

.lefto:hover {
    width: 250px;
}

.item:hover {
    cursor:pointer;
    background-color:#ccc;
}

.lefto .glyphicon {
    margin:15px;
    width:20px;
    color:#fff;
}
.lefto .glyphlogo{
    margin:5px;
    width:39px;
    color:#fff;
}

.righto .glyphicon {
    color:#a9a9a9;
}
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
}

.item {
    height:50px;
    overflow:hidden;
    color:#fff;
}
.title {
    background-color:#eee;
    border-style:solid;
    border-color:#ccc;
    border-width:1px;
    box-sizing: border-box;
}

.secundaryNav{
    background-color: #4d4d4c;
    transition: height 1s ;
}

.sectionNavbarHover:hover{
    background-color: rgba(205,205,205,0.93);
}

.separator{
    background-color: #0A0A0A;
    height: 10px;
    transition: height 1s ;
}
