/*#BackgroundImage{*/
    /*z-index: -4;*/
    /*position: relative;*/
    /*background-image: url("/content/images/parallax/Lay1Base.png");*/
    /*!*!* Set a specific height *!*!*/
    /*!*height: 500px;*!*/
    /*!*!* Create the parallax scrolling effect *!*!*/
    /*!*background-attachment: fixed;*!*/
    /*!*background-position: center;*!*/
    /*!*background-repeat: no-repeat;*!*/
    /*!*background-size: cover;*!*/
/*}*/

.container{
    z-index: auto;
    position: relative;
}
.well{
    position: relative;
}
.parallaax{
    z-index: -4;
    position: absolute;
    /*padding: 0;*/
    /*margin: 0;*/
    width: 100%;
}
#BackgroundTopGrey{
    background-color: #3E3E3E;
    height: 500px;
    width: 100%;
}
#BackgroundFootGrey{
    position: relative;
    background-color: #3E3E3E;
    bottom: 0;
    height: 500px;
    width: 100%;
}

.degrdaded {
    height: 60px;
    margin-top: 450px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,b6b6b6+100&0+0,1+98 */
    background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(181, 182, 183, 1) 98%, rgba(182, 182, 182, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(181, 182, 183, 1) 98%, rgba(182, 182, 182, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(181, 182, 183, 1) 98%, rgba(182, 182, 182, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#b6b6b6', GradientType=0); /* IE6-9 */
}

#imgBanner1{
    width: 100%;
    height: 100%;
}

/*!* ---------------------------------------------------------------------------*!*/
/*!* The side navigation menu *!*/
/*.sidenav {*/
/*height: 100%; !* 100% Full-height *!*/
/*width: 0; !* 0 width - change this with JavaScript *!*/
/*position: fixed; !* Stay in place *!*/
/*z-index: 1; !* Stay on top *!*/
/*top: 0; !* Stay at the top *!*/
/*left: 0;*/
/*background-color: #111; !* Black*!*/
/*overflow-x: hidden; !* Disable horizontal scroll *!*/
/*padding-top: 60px; !* Place content 60px from the top *!*/
/*transition: 0.75s; !* 0.5 second transition effect to slide in the sidenav *!*/
/*}*/

/*!* The navigation menu links *!*/
/*.sidenav a {*/
/*padding: 8px 8px 8px 32px;*/
/*text-decoration: none;*/
/*font-size: 20px;*/
/*color: #818181;*/
/*display: block;*/
/*transition: 0.3s;*/
/*}*/

/*!* When you mouse over the navigation links, change their color *!*/
/*.sidenav a:hover {*/
/*color: #f1f1f1;*/
/*}*/

/*!* Style page content - use this if you want to push the page content to the right when you open the side navigation *!*/
/*#main {*/
/*transition: margin-left .5s;*/
/*padding: 20px;*/
/*}*/

/*!* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
/*.sidenav {padding-top: 15px;}*/
/*.sidenav a {font-size: 18px;}*/
/*}*/

/*li {*/
/*list-style-type: none;*/
/*}*/


td, th {
    vertical-align: middle !important;
}

.lefto {
    float:left;
    height:100%;
    position: fixed;
    background: #272727;
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
    z-index: 10;
    overflow-y: auto;

}

.lefto:hover {
    width: 250px;
}

.item:hover {
    cursor:pointer;
    background-color:#ccc;
}

.lefto .glyphicon {
    margin:15px;
    width:20px;
    color:#fff;
}
.lefto .glyphlogo{
    margin:5px;
    width:39px;
    color:#fff;
}

.righto .glyphicon {
    color:#a9a9a9;
}
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
}

.item {
    height:50px;
    overflow:hidden;
    color:#fff;
}
.title {
    background-color:#eee;
    border-style:solid;
    border-color:#ccc;
    border-width:1px;
    box-sizing: border-box;
}

.secundaryNav{
    background-color: #4d4d4c;
    transition: height 1s ;
}

.sectionNavbarHover:hover{
    background-color: rgba(205,205,205,0.93);
}

.separator{
    background-color: #0A0A0A;
    height: 10px;
    transition: height 1s ;
}
