
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySocialLabel" data-translate="dubionApp.social.home.createOrEditLabel">Create or edit a Social</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.social.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.social.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.social.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.social.url"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.social.official" for="field_official">Official</label>
                <input type="checkbox" name="official" id="field_official"
                          ng-model="vm.social.official"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.social.facebook" for="field_facebook">Facebook</label>
            <input type="text" class="form-control" name="facebook" id="field_facebook"
                    ng-model="vm.social.facebook"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.social.twitter" for="field_twitter">Twitter</label>
            <input type="text" class="form-control" name="twitter" id="field_twitter"
                    ng-model="vm.social.twitter"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.social.youTube" for="field_youTube">You Tube</label>
            <input type="text" class="form-control" name="youTube" id="field_youTube"
                    ng-model="vm.social.youTube"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.social.googlePlus" for="field_googlePlus">Google Plus</label>
            <input type="text" class="form-control" name="googlePlus" id="field_googlePlus"
                    ng-model="vm.social.googlePlus"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.social.instagram" for="field_instagram">Instagram</label>
            <input type="text" class="form-control" name="instagram" id="field_instagram"
                    ng-model="vm.social.instagram"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
