<div class="row">
    <div class="col-xs-10" style="text-align: left; background-color: #b6b6b6; margin: 3%">
        <div class="col-md-5 col-xs-12" align="center">
            <img src="data:image/jpg;base64, {{vm.albumActual.photo}}" alt="Album" style="width:300px"/>
        </div>
        <div class="col-md-5 col-xs-12" align="center" style="list-style: none"><h2>{{vm.albumActual.band.name}} - {{vm.albumActual.name}}</h2>
<!--            <li>The Greatest - 3:32</li>
            <li>Never Give Up - 3:57</li>
            <li>Elastic Heart - 4:19</li>
            <li>Cheap Thrills - 3:27</li>
            <li>Fist Fighting a Sandstorm - 3:41</li>-->


            <div ng-repeat="song in vm.songs">
                <li>{{song.name}} - {{song.duration}}</li>

            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <div style="background-color: #222222;display: flex; justify-content: flex-end;">

            <div class="col-md-12 center">
                <audio id="audio" preload="auto" controls>
                    <source src="/content/music/Sia%20-%20Cheap%20Thrills.mp3" type="audio/mpeg">

                </audio>
            </div>




        </div>
    </div>
<style>
    #audio{
        background-color: black;
        width: 60%;
        height: auto;
    }
    .center{
        text-align: center;
    }
    div.scrollmenu {
        position: relative;
        background-color: #b6b6b6;
        overflow: hidden;
        white-space: nowrap;
    }

    div.scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    div.scrollmenu a:hover .new{
        background-color: rgba(140,130,130,0.5);
        color:white;
    }
    .info{
        background-color: #0A0A0A;
    }
    .new {
        background-color: transparent;
        width:200px;
        height: 60px;
        color:transparent;
        z-index: 3;
        bottom: 14px;
        left: 14px;
        position: absolute;

    }
    .new2{
        background-color: rgba(140,130,130,0.5);
        width:200px;
        height: 50px;
        color:white;
        z-index: 3;
        bottom: 14px;
        left: 14px;
        position: absolute;
    }
    .pictr{
        position:absolute;
        left: 2%;
        top: 50%;
        width: 30px !important;
        height: 30px !important;
        z-index: 5;
    }
    .pictl{
        position:absolute;
        right: 2%;
        bottom: 40%;
        width: 30px !important;
        height: 30px !important;
        z-index: 5;
    }

</style>

</div>
<div class="row">
    <div class="col-xs-12">

            <h2 class="left white">Más de Sia</h2>
        <slick settings="vm.slickConfig">
            <div class="slick-item scrollmenu" ng-repeat="img in vm.salbums">

                <!--     {{img.name}} -->
                <!--   <img src="{{ img }}"> -->
                <!--    <img data-ng-src="{{'data:' + img.photoContentType + ';base64,' + img.photo}}" style="max-height: 30px;" alt="album image"/> -->

                <a style="position: relative" href="#/albumPage/{{img.id}}"><img src="data:image/jpg;base64, {{img.photo}}" alt="Album" style="width:200px"/><div class="new">{{img.band.name}}</br>{{img.name}}</div></a>

            </div>
        </slick>

<!--            <div class="scrollmenu scrollslick">
                <a style="position: relative" href="#/albumPage/1">

                    <img src="data:image/jpg;base64, {{vm.albumActual.photo}}" alt="This is Acting" style="width:200px"/>
                    <div class="new">Sia</br>This is Acting</div></a>
                    &lt;!&ndash;<img src="/content/images/Sia Cover.jpg" alt="Musica" style="width:200px">&ndash;&gt;
                <a style="position: relative" href="#/albumPage/2"><img src="/content/images/Sia Cover2.jpg" alt="Musica" style="width:200px"><div class="new">Sia</br>This is Acting</div></a>
                <a style="position: relative" href="#contact"><img src="/content/images/Sia Cover3.jpg" alt="Musica" style="width:200px"><div class="new">Sia</br>Some People </br>Have Real Problems</div></a>
                <a style="position: relative" href="#about"><img src="/content/images/Sia Cover4.jpg" alt="Musica" style="width:200px"><div class="new">Sia</br>The Greatest</div></a>
                <a style="position: relative" href="#support"><img src="/content/images/Sia Cover5.jpg" alt="Musica" style="width:200px"><div class="new">Sia</br>Everyday Is Christmas</div></a>
                <a style="position: relative" href="#blog"><img src="/content/images/Sia Cover6.jpg" alt="Musica" style="width:200px"><div class="new">Sia</br>We are Born</div></a>
                <a style="position: relative" href="#tools"><img src="/content/images/Sia Cover7.jpg" alt="Musica" style="width:200px"><div class="new">Sia</br>This is Acting</div></a>
                <a style="position: relative" href="#base"><img src="/content/images/Sia Cover8.jpg" alt="Musica" style="width:200px"><div class="new">Sia</br>1000 Forms of Fear</div></a>
                <a style="position: relative" href="#base"><img src="/content/images/Sia Cover9.jpg" alt="Musica" style="width:200px"><div class="new">Sia</br>Colour the Small One</div></a>
            </div>--><br/>
            <script>
                $(document).ready(function(){
                        $('.scrollslick').slick({
                            slidesToShow: 5,
                            slidesToScroll: 1,
                            autoplay: true,
                            autoplaySpeed: 2000,
                            nextArrow:'<img class="pictl" src="/content/images/arrowleft.png" alt="next"/>',
                            prevArrow:'<img class="pictr" src="/content/images/rightarrow.png" alt="preview"/>',
                            responsive: [
                                {
                                    breakpoint: 1200,
                                    settings: {
                                        dots: false,
                                        slidesToShow: 4,
                                        slidesToScroll: 1
                                    }
                                },
                                {
                                    breakpoint: 1024,
                                    settings: {
                                        dots: false,
                                        slidesToShow: 3,
                                        slidesToScroll: 1
                                    }
                                },
                                {
                                    breakpoint: 600,
                                    settings: {
                                        slidesToShow: 2,
                                        slidesToScroll: 1
                                    }
                                },
                                {
                                    breakpoint: 480,
                                    settings: {
                                        arrows: false,
                                        slidesToShow: 1,
                                        slidesToScroll: 1

                                    }
                                }

                            ]
                        });

                var status = 0;
                function Play(music,id) {
                    var audio = $("#"+id);
                    if(status == 0 || status == 2)
                    {
                        if(status == 0) audio.attr("src", music);
                        audio[0].play();
                        $("#play").attr("class","glyphicon glyphicon-pause aligned")
                        status = 1;
                    } else if(status == 1) {
                        audio[0].pause();
                        $("#play").attr("class","glyphicon glyphicon-play aligned")
                        status = 2;
                    }
                }
                function Stop(music,id) {
                    var audio = $("#"+id);
                    audio.attr("src", '');
                    $("#play").attr("class","glyphicon glyphicon-play aligned")
                    status = 0;
                }
                function Restart(music,id) {
                    var audio = $("#"+id);
                    audio.prop("currentTime",0)
                }
                function VolumeUp(music,id) {
                    var audio = $("#"+id);
                    var volume = $("#"+id).prop("volume")+0.1;
                    if(volume > 1) volume = 1;
                    $("#"+id).prop("volume",volume);
                }
                function VolumeDown(music,id) {
                    var audio = $("#"+id);
                    var volume = $("#"+id).prop("volume")-0.1;
                    if(volume < 0) volume = 0;
                    $("#"+id).prop("volume",volume);
                }
                function Forward5(music,id) {
                    var audio = $("#"+id);
                    audio.prop("currentTime",audio.prop("currentTime")+5);
                }
                function Backward5(music,id) {
                    var audio = $("#"+id);
                    audio.prop("currentTime",audio.prop("currentTime")-5);
                }
                function Forward1(music,id) {
                    var audio = $("#"+id);
                    audio.prop("currentTime",audio.prop("currentTime")+1);
                }
                function Backward1(music,id) {
                    var audio = $("#"+id);
                    audio.prop("currentTime",audio.prop("currentTime")-1);
                }
                });
            </script>


        </div>


    </div>
