
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRatingAlbumLabel" data-translate="dubionApp.ratingAlbum.home.createOrEditLabel">Create or edit a Rating Album</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ratingAlbum.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ratingAlbum.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.ratingAlbum.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.ratingAlbum.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dubionApp.ratingAlbum.rating" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                    ng-model="vm.ratingAlbum.rating"
                    />
        </div>

        <div class="form-group">
            <label data-translate="dubionApp.ratingAlbum.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.ratingAlbum.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="dubionApp.ratingAlbum.album" for="field_album">Album</label>
            <select class="form-control" id="field_album" name="album" ng-model="vm.ratingAlbum.album" ng-options="album as album.name for album in vm.albums track by album.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
